.footer
  padding: 1em 0
  width: 100%

  &__container
    justify-content: center

  &__attribution
    @extend %h5
    line-height: 1em
    margin: 0

    &-link
      +opacityHover
      text-decoration: none
