.footer
  bottom: 0
  left: 0
  padding: 3.4375em 0
  position: fixed
  width: 100%

  &__attribution
    a
      text-decoration: none
      transition: opacity .5s ease

      &:hover
        opacity: .5
