.header
  padding: 3.4375em 0
  position: fixed
  top: 0
  width: 100%

  &__container
    align-items: stretch
    justify-content: space-between

  &__title
    font-family: $secondaryFont
    margin: 0

    span
      display: block
